footer {
  font-size: 18px;
}

.pie-pagina {
  width: 100%;
  background-color: #0a141d;
}
.pie-pagina .grupo-1 {
  width: 84%;
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
  grid-gap: 50px;
  padding: 20px 0px;
}
.pie-pagina .grupo-1 .box a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 17px;
}
.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 8px;
  font-size: 14px;
}
.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua;
}
.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 5px 5px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small {
  font-size: 12px;
}

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 10px 0px;
  }
}
/*Estilos para todas las paginas, cuando login.scss tiene estilos solamente para login, en general deberiamos poner estilos que afecta a login.views, productos.views, usuarios.views etc etc*/
body {
  margin: 0;
  padding: 0;
  background: url(../img/456.jpg) no-repeat center top;
  background-size: cover;
  font-family: arial, sans-serif;
  height: 100vh;
  color: #fff;
}

td {
  color: #fff;
}

input {
  color: black !important;
}

* {
  box-sizing: border-box;
}

main {
  min-height: calc(100vh - 270px);
}

.login-box {
  width: 320px;
  height: 420px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}
.login-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}
.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}
.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}
.login-box input {
  width: 100%;
  margin-bottom: 20px;
}
.login-box input[type=text], .login-box input[type=password] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.login-box input[type=submit] {
  border: none;
  outline: none;
  height: 40px;
  background: #252942;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.login-box input[type=submit]:hover {
  cursor: pointer;
  background: #244e65;
  color: #000;
}
.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}
.login-box a:hover {
  color: #fff;
}

#crearCliente .container h1 {
  background-color: #16e3c8 !important;
}
#crearCliente .container .buttons {
  background-color: #16e3c8 !important;
}

#editarCliente .container h1 {
  background-color: #089EEC !important;
}
#editarCliente .container .buttons {
  background-color: #089EEC !important;
}

.formulario .container {
  font-size: 20px;
  text-align: center;
  background: white;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 7px 13px 37px #000;
  border-radius: 15px;
  color: #a4a4a4;
}
.formulario .container h1 {
  margin: 0;
  text-align: center;
  height: 40px;
  padding-top: 10px;
  margin-bottom: 20px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #16e3c8;
  height: 60px;
  color: #fff;
}
.formulario .container .controls {
  width: 100%;
  border: none;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: #c4c4c4;
  color: white;
}
.formulario .container .buttons {
  font-size: 25px;
  width: 100%;
  height: 40px;
  background-color: #16e3c8;
  border-radius: 5px;
  border: none;
  color: #fff;
  margin-bottom: 16px;
}

/*# sourceMappingURL=style.css.map */
