#crearCliente{
    .container {
        h1 {
            background-color: $crear !important;
        }
        .buttons {
            background-color: $crear !important;
        }
    }
}
#editarCliente{
    .container {
        h1 {
            background-color: $editar !important;
        }
        .buttons {
            background-color: $editar !important;
        }
    }
}