/*Estilos para todas las paginas, cuando login.scss tiene estilos solamente para login, en general deberiamos poner estilos que afecta a login.views, productos.views, usuarios.views etc etc*/
$editar:#089EEC;
$crear:#16e3c8;
body {
    margin: 0;
    padding: 0;
    background: url(../img/456.jpg) no-repeat center top;
    background-size: cover;
    font-family: arial, sans-serif;
    height: 100vh;
    color: #fff;
}
td{
    color: #fff;
}
input{
    color: black !important;
}
* {
    box-sizing: border-box;
}
main{
    min-height: calc(100vh - 314px)
}